* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;   
}

body {
    margin: 0 auto;
    max-width: 768 px;
    font-family: 'Overpass', sans-serif;
    line-height: 1.5em; 
    line-spa
    /* background-color: ? */
    /* color: #171738;   */
}

.logo {
    display: block;
    margin: 0 auto;
    width: 25em;
    margin-bottom: 1.5em;
    border-radius: .5em;
}

h1 { 
    /* header title */
    text-align: center;
    padding: 1.5em;
    font-size: 1.6em;
    background-color: #0D0630 ;
    color: white;
    margin-bottom: 1.5em;
    width: 100%
}

.wrapper {
    /* margin-bottom: 3em; */
    width: 100%;
    margin: auto;
}

.signup {
    text-align: center;
    color: #18314F;
    margin-bottom: 1.5em;
}

h2 {
   font-size: 1.5em;
   margin-bottom: 1.2em; 
}

h3 {
    font-size: 1.3em;
    color: #18314F;
    margin-bottom: 1.3em;
}

.hr_one {
    border: .2em solid black;
    margin-bottom: .3em;
    width: 90%;
}

.hr_two {
    border: .05em solid black;
    margin-bottom: 2em;
    width: 90%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
    background-color: #8BBEB2;
    border: none;
    font-size: 1.1em;
    height: auto;
    padding: 1em;
    width: 100%;
    box-shadow: 5px black inset;
    margin-bottom: 1.2em;
    color: #384E77;
    border-radius: .2em;
}

::-webkit-input-placeholder {
    text-align: right;
}

legend {
    font-size: 1.4em;
    margin-bottom: .2em;
    color: black;
}

label {
    font-size: 1.1em;
    color: black;
    margin-bottom: .5em;
}

/* input {
    border: 1px solid white;
} */

fieldset label {
    color: #18314F;
    margin-bottom: 1em;
}

.contact-info,
.newsletter {
    padding: 50px 50px 35px 50px;
    /* display: block; */
}

/* .news {
    margin-bottom: 3em;
} */

.hr_three {
    border: .05em solid black;
    margin: 3em;
    width: 90%;
}

textarea {
    min-height: 5em;
    line-height: 2em;
    min-width: 13em;
    font-size: 1.1em;
    font-family: 'Overpass', sans-serif;
    margin: 1em 0;
}

input[type=radio],
input[type=checkbox] {
    margin: 10px;
}

button {
    padding: .2em;
    color: white;
    font-size: 1.6em;
    text-align: center;
    border-radius: .5em;
    width: 100%;
    height: 2em;
    background-color: #384E77;
    box-shadow: 2px black inset;
    margin: 1em auto;
    cursor: pointer;
}

/*  for sinking button on hover:
 button:hover {
    transform: perspective(.2em);
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: translateY(.2em);
} */

/* for floating button on hover */
button:hover {
    transform: perspective(.2em);
    transition-duration: 0.2s;
    transform: translateY(-10px);
    transition-timing-function: ease-out;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #E6F9AF;
}

input:focus,
select:focus,
textarea:focus {
    border: .1em dashed #8BBEB2;
}

/* button:focus {
    box-shadow 2px #8BBEB2;
} */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    background-color: #384E77;
    color: black;
    margin: auto;
    height: 3em;
    color: #E6F9AF;
}

.contact-info,
.flex-pair {
    display: flex;
    flex-direction: column;
}




@media (min-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

}