* {
    box-sizing: border-box;
  }

  body {
    margin: 0 auto;
    max-width: 768px;
    background-color: #E8F1F2;
    line-height: 1.5em;
    color: #0D0630;
    padding: .46em;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 2em;
    border-radius: .5em;
}

h1 { 
    text-align: center;
    padding: 1.5em;
    font-size: 1.6em;
    background-color: #0D0630 ;
    color: white;
    margin-bottom: 1.5em;
    width: 100%;
}

h1, 
legend {
  font-family: 'Chivo', sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.4em;
}

h2,
h3,
label, 
input,
select,
textarea,
button,
footer  {
    font-family: 'Overpass', sans-serif;
}

h2 {
    font-size: 1.5em;
 }

h3 {
    font-size: 1.3em;
}

legend {
    padding-top: 1em;
    font-size: 1.4em;
    text-align: center;
    line-height: 1.3em;
}

  .contact-information,
  .newsletter {
    padding: 50px 50px 35px 50px;
  }

  .contact-information .flex-pair {
    display: flex;
    flex-direction: column;
  }

  .contact-information label, 
  select {
    margin-bottom: .4em;
  }

  .contact-information input {
    height: 2em;
    margin-bottom: .7em;
  }

  #spacewalk {
    max-width: 65%;
  }

 input::placeholder {
    text-align: right;
    font-style: italic;
    font-size: .9em;
    padding-right: .1em;
} 

.signup {
    text-align: center;
    margin-bottom: 1.5em;
}

.hr_one {
    border: .2em solid #384E77;
    margin-bottom: .3em;
    width: 90%;
}

.hr_two {
    border: .05em solid #384E77;
    width: 90%;
}

.hr_three {
    border: .05em solid #384E77;
    width: 90%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
    background-color: #8BBEB2;
    border: .4px solid #8BBEB2;
    font-size: 1.1em;
    height: auto;
    padding: 1em;
    width: 100%;
    margin-bottom: 1.2em;
    color: #384E77;
    border-radius: .2em;
    font-family: 'Overpass', sans-serif;
}

select {
    font-size: 1em;
    height: 4em;
}

textarea {
    margin-top: 1em;
    width: 100%;
}

input[type=radio],
input[type=checkbox] {
    margin: 10px;
}

button {
    padding: .2em;
    color: white;
    background-color: #384E77; 
    font-size: 1.5em;
    text-align: center;
    border-radius: .5em;
    width: 100%;
    height: 2em;
    margin: 2em auto;
    cursor: pointer;
}

button:hover {
    transform: perspective(.2em);
    transition-duration: 0.2s;
    transform: translateY(-10px);
    transition-timing-function: ease-out;
}

fieldset {
  border: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    transition: background-color 1s ease-out;
    background-color: rgb(208, 233, 227);
}

input:hover,
select:hover,
textarea:hover {
    border: .1em dashed #18314F;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: whitesmoke;
    font-size: .9em;
}

  @media (min-width: 768px) {

    .contact-information .flex-pair {
        flex-direction: row;
      }

      .contact-information input {
        flex-grow: 1;
        flex-basis: 75%;
      }

      .contact-information label {
        flex-basis: 25%;
        height: 50px;
        margin: auto 0;
      }

      #spacewalk {
        max-width: 35%;
      }

      .wrapper label {
        flex-basis: 45%;
    }

    .wrapper input,
    select {
        flex-basis: 55%;
    }

    .wrapper select {
        flex-basis: 55%;
    }

    h1 {
        font-size: 2em;
    }

  }